.DS_Store
.metadata/.ide.log
.metadata/.ide.log-2025-08-05.log
.metadata/.lock
.metadata/.log
.metadata/.log4j2.xml
.metadata/version.ini
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/2.3.200.202507011752
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.core/Demo.language.settings.xml
.metadata/.plugins/org.eclipse.cdt.core/Example.1754531150193.pdom
.metadata/.plugins/org.eclipse.cdt.core/Example.language.settings.xml
.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.c
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.cpp
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.resources/.history/30/508b136c307300101c83ac5d848c68ee
.metadata/.plugins/org.eclipse.core.resources/.history/49/e0291ff62f7300101c83ac5d848c68ee
.metadata/.plugins/org.eclipse.core.resources/.history/9c/503b20f62f7300101c83ac5d848c68ee
.metadata/.plugins/org.eclipse.core.resources/.history/b2/708920f62f7300101c83ac5d848c68ee
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Example/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/Example/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Example/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Example/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Example/.indexes/c4/history.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.st.stm32cube.ide.mcu.ide.oss.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-Example.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2025/8/32/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2025/8/32/refactorings.index
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Example/.cproject
Example/.project
Example/STM32F334C8TX_FLASH.ld
Example/.settings/language.settings.xml
Example/.settings/org.eclipse.core.resources.prefs
Example/Startup/startup_stm32f334c8tx.s
.metadata/.ide.log-2025-08-06.log
.metadata/.ide.log-2025-08-07.log
.metadata/.ide.log-2025-08-10.log
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/ecosystem.html
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/favicon.png
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/index.html
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/tech-doc.html
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/videos.html
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/css/style.css
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/img/bitmap.png
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/img/brandade.PNG
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/img/dummy-vid.jpg
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/img/favicon.png
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/img/FB-f-Logo__blue_29.png
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/img/Infomation.png
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/img/link.png
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/img/logo-ide.png
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/img/ST11632_New_pink.png
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/img/ST31079_social_icons_0923_Twitter_DB_48.png
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/img/STM32_blue.png
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/img/STM32Cube.png
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/img/welcome_center_draft.png
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/img/YouTube-icon-full_color-34x24.png
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/js/jquery-3.6.0.min.js
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/js/newFeatures.js
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/js/tutoVideos.js
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/news/CubeIDE_MX_split.png
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/news/news.json
.metadata/.plugins/com.st.stm32cube.ide.mcu.livewatch/params.dat
.metadata/.plugins/com.st.stm32cube.ide.mcu.livewatch/saved_expr.dat
.metadata/.plugins/org.eclipse.cdt.make.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.cdt.ui/Example.build.log
.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
.metadata/.plugins/org.eclipse.core.resources/.projects/Example/.markers
.metadata/.plugins/org.eclipse.core.resources/.root/5.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.st.stm32cube.ide.mcu.debug.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.dsf.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.launchbar.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Example/Example.launch
Example/.settings/com.st.stm32cube.ide.mcu.sfrview.prefs
Example/Debug/Example.elf
Example/Debug/Example.list
Example/Debug/Example.map
Example/Debug/makefile
Example/Debug/objects.list
Example/Debug/objects.mk
Example/Debug/sources.mk
Example/Debug/Src/Demo.d
Example/Debug/Src/Demo.o
Example/Debug/Src/subdir.mk
Example/Debug/Startup/startup_stm32f334c8tx.d
Example/Debug/Startup/startup_stm32f334c8tx.o
Example/Debug/Startup/subdir.mk
Workspace/Assembly Review.code-workspace
/.metadata/
M2Program2/.cproject
M2Program2/.project
M2Program2/STM32F334C8TX_FLASH.ld
M2Program2/.settings/language.settings.xml
M2Program2/.settings/org.eclipse.core.resources.prefs
M2Program2/Startup/startup_stm32f334c8tx.s
M2Program2/M2Program2.launch
M2Program2/.settings/com.st.stm32cube.ide.mcu.sfrview.prefs
