.DS_Store
.metadata/.ide.log
.metadata/.ide.log-2025-08-05.log
.metadata/.lock
.metadata/.log
.metadata/.log4j2.xml
.metadata/version.ini
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/2.3.200.202507011752
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.core/Demo.language.settings.xml
.metadata/.plugins/org.eclipse.cdt.core/Example.1754531150193.pdom
.metadata/.plugins/org.eclipse.cdt.core/Example.language.settings.xml
.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.c
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.cpp
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.resources/.history/30/508b136c307300101c83ac5d848c68ee
.metadata/.plugins/org.eclipse.core.resources/.history/49/e0291ff62f7300101c83ac5d848c68ee
.metadata/.plugins/org.eclipse.core.resources/.history/9c/503b20f62f7300101c83ac5d848c68ee
.metadata/.plugins/org.eclipse.core.resources/.history/b2/708920f62f7300101c83ac5d848c68ee
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Example/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/Example/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Example/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Example/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Example/.indexes/c4/history.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.st.stm32cube.ide.mcu.ide.oss.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-Example.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2025/8/32/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2025/8/32/refactorings.index
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Example/.cproject
Example/.project
Example/STM32F334C8TX_FLASH.ld
Example/.settings/language.settings.xml
Example/.settings/org.eclipse.core.resources.prefs
Example/Startup/startup_stm32f334c8tx.s
